* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Description {
    width: 100%;
    height: calc();
    background: url(../img/bgTop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

